body {
	background-color:#EEEEFF;
}

.jumbotron {
	margin:0;
	font-size:3rem;
	padding: 2% 4% 2% 4%;
	background-color: #DDDDEE;
	text-align:center;
}

#gameContainer {
	position:absolute;
	left:25vw;
}

#gameStartButton {
	position:absolute;
	left:22px;
	top:480px;
	height:50px;
	width:125px;
	font-size:1.5rem;
	font-weight:bold;
	z-index:10;
	padding-left: 11px;
    padding-top: 3px;
}

#gameStartText {
	position:absolute;
	left:32px;
	top:530px;
	text-align:center;
	color:white;
	font-size:0.8rem;
}

#timeElapsedText, #timeElapsedClock {
	color:white;
	font-size:1.2rem;
}
#timeElapsedClock{
	padding-left: 10px;
}

#timeElapsedText {
    position: absolute;
	left:26px;
	top: 300px;
}
#timeElapsedClock{
	padding-left: 40px;
}
#timeElapsedIntro {
    font-weight:bold;
}
#scoreSaveButton{
   	font-size:0.9rem;
	position:absolute;
	left: 640px;
	top:485px;
	width:150px; 
}

#leaderboardButton {
	font-size:0.8rem;
	position:absolute;
	left: 650px;
	top:530px;
	width:130px;
}

.gameButton {
	border-radius:25px;
}

#roundResults {
	position:absolute;
	left:642px;
	top:270px;
	text-align:center;
	color:white;
	font-size:0.75rem;
}

.playerResults {
	font-weight: bold;
	max-width: 170px;
}

#roundResultsIntro {
	font-weight:900;
	font-size:0.9rem;
 	display: inline-block;
    margin: 3px;
}

#player1Results {
	color: #1111AA;
}

#player2Results {
	color: #AA2222;
}

.playerInstructions {
	font-size: 0.8rem;
	max-width: 170px;
	text-align: center;
}

#player1Instructions {
	position: absolute;
	left: 0px;
	top: 100px;
	color: #1111AA;
	padding-left: 5px;
}

#player2Instructions {
	position: absolute;
	left: 630px;
	top: 100px;
	color: #AA2222;
	padding-left: 33px;
}
#soundButtonOn{
    position:absolute;
	left:985px;
}
#soundButtonOff{
    position:absolute;
	left:955px;
}
.modal-content {
	background-color:#868e96;
}
#scoreSaveHead {
	color:yellow;
	font-size: 1.0rem;
	padding-left: 90px;
	padding-top: 10px;
}
#leaderboardModalHead {
	color:yellow;
	font-size: 1.0rem;
	padding-left: 130px;
	padding-top: 10px;
}
#leaderboardModal li {
	color: white;
	font-size: 0.75rem;
}
#soundButtonOn {
	position:absolute;
	left:calc(820px + 28vw);
}
#soundButtonOff {
	position:absolute;
	left:calc(800px + 26vw);
}
.soundButton:focus {
	outline:0;
}
.player1Fire {
	position: absolute;
	left:10vw;
	top:20vh;
}
.player2Fire {
	position: absolute;
	left:calc(28vw + 800px);
	top:20vh; 
}

.saveScoresInputLabel {
    padding:10px 0px 0px 0px;
}

.formSubmitButton {
    margin:25px 0 0 0;
    font-size:1.3rem;
    padding:10px;
}
.player1Results{
    color: #1111AA;
}
.player2Results{
    color: #AA2222;
}